body {
    background-color: #000000;
    margin: 20px 20px 0px 20px;
    font-family: Arial, Verdana;
    color: #ffffff;
}

h1 { 
    font-size: 42px;
    padding: 15px;
    text-align: center
}

h2 {
    color: #0D0D0D;
    font-size: 30px;
}

p {
    font-size: 24px;
    padding: 10px 0px 0px 10px;

 }

img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border: 10px dashed #ffffff;
}

div {
    height: flex;
    min-height: 125px;
    padding: 20px;
}


.introduction {
    border-radius: 15px;
    color: #ffffff;
    margin: 15px 0px 0px 0px;
    line-height: 2.0;
    border: 3px solid #ffffff;
}

.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
    color: #ffffff;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
}

.blue {

    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
    color: #c4c4c4;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;

}

.blue h2, .blue p {
    color: #c4c4c4;
}

.yellow {

    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #FFFFFF;
    border-left: 5px solid #FFFFFF;
}

.yellow p {
    color: #707070;
}

.green {

    background-color: #008500;
    text-align: left;
    margin: 0px 50px 0px 0px;
    color: #ffffff;
    border-right: 5px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;

}

footer {

    background: linear-gradient(58deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 75%, rgba(0,0,0,1) 100%);
    border: 5px solid #ffffff;
    
}

footer > p {

    color: #ffffff;
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px

}
